<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>tbl2shp</Name><AddInID>{03f7854a-6ef0-46b2-9b7f-5eba055d7fbc}</AddInID><Description>Create geometry shapes from given XY Coordinates in a DBF</Description><Version>0.1</Version><Image /><Author>Vong Vithyea Srey</Author><Company>Vong Vithyea Srey</Company><Date>11/26/2013</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="MyAddIns_addin.py" namespace="MyAddIns_addin"><ArcMap>
    <Commands>
        <Button caption="2Pnt" category="tbl2shp" class="tbl2Pnt" id="MyAddIns_addin.tbl2PntBtn" image="" message="Create Point shapefile from given XY Coordinates in a DBF. The DBF must contain XCoord and YCoord fields." tip=""><Help heading="How to use the tool">Specify a DBF file on the first dialog windows and specify a shapefile which will store the results in the second dialog window. DBF must contain XCoord and YCoord fields.</Help></Button>
        <Button caption="2Line" category="tbl2shp" class="tbl2Line" id="MyAddIns_addin.tbl2LineBtn" image="" message="Create Polyline shapefile from given XY Coordinates in a DBF. The DBF must contain XCoord and YCoord fields. Each line seperated by (X,Y) = (0,0)." tip=""><Help heading="How to use the tool">Specify a DBF file on the first dialog and specify a shapefile which will store the results in the second dialog. DBF must contain XCoord and YCoord fields. Each line seperated by (X,Y) = (0,0).</Help></Button>
        <Button caption="2Plgone" category="tbl2shp" class="tbl2Plgone" id="MyAddIns_addin.tbl2PlgoneBtn" image="" message="Create Polygone shapefile from given XY Coordinates in a DBF. The DBF must contain XCoord and YCoord fields. Each Polygone seperated by (X,Y) = (0,0)." tip=""><Help heading="How to use the tool">Specify a DBF file on the first dialog and specify a shapefile which will store the results in the second dialog. DBF must contain XCoord and YCoord fields. Each Polygone seperated by (X,Y) = (0,0).</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="tbl2shp" category="tbl2shp" id="MyAddIns_addin.dbf2Shapes" showInitially="true"><Items><Button refID="MyAddIns_addin.tbl2PntBtn" /><Button refID="MyAddIns_addin.tbl2LineBtn" /><Button refID="MyAddIns_addin.tbl2PlgoneBtn" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>